@import 'fonts.css';

/* Reset default styles */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove default margin */
body,
h1, h2, h3, h4, h5, h6,
p, figure, blockquote, dl, dd {
    margin: 0;
}

/* Set core body defaults */
body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-gilroy);
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 500;
    line-height: 150%;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: 0 auto;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1440px;
    /* min-width: 1440px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-heading {
    width: 100%;
    align-items: center;
    background-color: #1D1D1B;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 49px;
    justify-content: center;
    letter-spacing: 0.02em;
}

.header {
    width: 100%;
    display: grid;
    gap: 0 21px;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 55px 59px;
    margin-bottom: 17px;
    padding: 0 clamp(50px, 5.56vw, 80px);
}

.region-control {
    align-items: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #7B7B7B, #E1E1E1) 1;
    display: flex;
    grid-area: 1 / 1;
    width: 100%;
    cursor: pointer;
}

.region-text {
    color: #7B7B7B;
    padding-left: 30px;
    letter-spacing: 0.4px;
}

.header-navigation,
.burger {
    grid-area: 2 / 1;
}

.burger {
    display: none;
    margin-top: 18.4px;
}

.logo {
    grid-area: 1 / 2 / span 2 / 3;
    place-self: start center;
}

.logo-img {
    margin-top: 11px;
}

.social-section {
    align-content: center;
    align-items: center;
    border-bottom: 1px solid;
    border-image: linear-gradient(to left, #7B7B7B, #E1E1E1) 1;
    color: #7B7B7B;
    display: flex;
    grid-area: 1 / 3;
    justify-content: flex-end;
    width: 100%;
}

.social-container {
    display: flex;
    margin-right: 30px;
}

.boutiques-item {
    text-align: start;
    letter-spacing: 0.01em;
}

.social-link-separator {
    margin: 0 10px;
}

.social-link-container {
    width: 125px;
    align-items: center;
    display: flex;
}

.social-link-container li:not(:nth-last-child(-n+1)) {
    margin-right: 15px;
}

.social-icon-link img {
    filter: invert(44%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(88%) contrast(87%);
    transition: filter 0.3s ease;
}

.social-icon-link:hover img {
    filter: grayscale(100%) brightness(100%) sepia(100%) hue-rotate(0deg) saturate(0%) contrast(100%) brightness(45%);
}


.right-block {
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-area: 2 / 3;
    grid-template-columns: 1fr 102px;
    padding-right: 30px;
    padding-left: 21px;
}

.header-icons,
.search-form,
.navigation-list {
    display: flex;
}

.navigation-list {
    color: #252525;
    display: flex;
    font-size: clamp(10px, 1.5vw, 16px);
    gap: clamp(15px, 2vw, 26px);
    justify-content: center;
    margin-top: 17px;
    cursor: pointer;
    line-height: 1.2;
}

.navigation-item {
    letter-spacing: 0.03em;
}

.search-form {
    align-items: center;
    border-bottom: 1px solid #7B7B7B;
    display: flex;
    max-width: 299px;
    width: 100%;
}

.search-icon {
    height: 18px;
    margin-right: 7px;
    width: 18px;
}

.search-input {
    background: transparent;
    border: none;
    color: #7B7B7B;
    outline: none;
    width: 100%;
}

.search-input::placeholder {
    color: #7B7B7B;
}

.header-icons {
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.main {
    width: 100%;
    background-image: url('../assets/images/backgrounds/bg_desktop.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1440px 766px;
    color: #F6F6F6;
    max-height: 766px;
    height: 766px;
    min-height: calc(100vh - 160px);
    text-align: center;
    box-sizing: border-box;
}

.main-subtitle {
    font-family: var(--font-allura);
    font-size: 30px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 70px;
}

.main-title {
    font-family: var(--font-calypso);
    font-size: 40px;
    font-weight: 100;
    line-height: 55px;
    text-transform: uppercase;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    padding: 0 80px 0 110px;
    text-align: left;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 300px;
}

.description-text {
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.025em;
}

.description-prompt {
    font-family: var(--font-allura);
    font-size: 25px;
    font-weight: 400;
    line-height: 150%;
    margin: 20px 0 5px;
}

.latest-additions-button {
    border-radius: 30px;
    border: 1px solid #E1E1E1;
    font-size: 15px;
    height: 38px;
    width: 168px;
    color: #F0F0F0;
    transition: all 0.5s ease;
}

.latest-additions-button:hover {
    background-color: #fff;
    color: #1D1D1B;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.4);
}

.fragrance-gallery {
    display: flex;
    gap: 20px;
    height: fit-content;
    justify-content: space-between;
    max-width: 818px;
}

.fragrance-card {
    border-radius: 15.4px;
    display: inline-block;
    height: fit-content;
    overflow: hidden;
    position: relative;
}

.fragrance-img {
    display: block;
    height: auto;
    object-fit: cover;
    width: 100%;
}

.fragrance-explore-btn,
.fragrance-name {
    color: white;
    position: absolute;
    z-index: 1;
}

.fragrance-name {
    width: 47%;
    max-width: 118px;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50px;
    bottom: 10px;
    display: flex;
    height: 37px;
    justify-content: center;
    left: 10px;
    width: 118px;
    font-size: clamp(10px, 1.5vw, 15px);
    font-weight: 400;
    letter-spacing: 0.02em;
}

.fragrance-explore-btn {
    background-color: #fff;
    border-radius: 30px;
    color: #1D1D1B;
    font-size: clamp(10px, 1.5vw, 15px);
    line-height: 1.2;
    height: 34px;
    right: 10px;
    top: 10px;
    width: 51%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: all 0.3s ease;
}

.fragrance-explore-btn:hover {
    width: 59%;
}

.fragrance-explore-btn:hover .explore-plus {
    display: block;
    opacity: 1;
}

.explore-plus {
    display: none;
    width: 11px;
    height: 11px;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.explore-plus::before,
.explore-plus::after {
    content: '';
    position: absolute;
    background-color: #1D1D1B;
    transition: all 0.3s ease;
}

.explore-plus::before {
    width: 11px;
    height: 0.5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.explore-plus::after {
    width: 0.5px;
    height: 11px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .container {
        height: 975px;
        padding: 0;
        max-width: 768px;
        width: 100vw;
    }

    .header {
        position: relative;
        padding: 0 clamp(20px, 6.55vw, 50px);
        grid-template-rows: 45px 53px;
        margin: 0 0 9px;
    }

    .header::after {
        content: '';
        position: absolute;
        left: clamp(50px, 5.56vw, 80px);
        right: clamp(50px, 5.56vw, 80px);
        bottom: 0;
        border-bottom: 1px solid #7B7B7B;
    }

    .header-icons {
        display: flex;
        flex-direction: row-reverse;
        width: fit-content;
        gap: 20px;
    }

    .icon-heart {
        width: 24px;
        height: 22px;
    }

    .social-section {
        display: flex;
        align-items: center;
    }

    .social-container {
        width: 100%;
        margin-right: 0;
        justify-content: space-between;
    }

    .social-link-container {
        display: flex;
        align-items: center;
        height: 25px;
        width: auto;
    }

    .social-link-container li:not(:nth-last-child(-n+1)) {
        margin-right: clamp(3px, 2vw, 15px);
    }

    .social-link-separator {
        font-size: 14px;
    }

    .social-icon {
        display: block;
        font-size: 0;
        height: 25px;
        width: 25px;
        color: #7B7B7B;
        transition: color 0.3s ease;
    }

    .icon-heart {
        position: absolute;
        left: 11.4%;
    }

    .newsletter-heading {
        height: 44px;
        text-align: center;
    }

    .navigation-item {
        display: none;
    }

    .burger {
        display: inline-block;
        margin-left: 5px;
    }

    .region-text {
        font-size: clamp(10px, 2.5vw, 16px);
        padding: 0;
        letter-spacing: 0.03em;
        line-height: 1.2;
    }

    .search-form {
        display: none;
    }

    .logo-img {
        height: clamp(50px, 9.5vw, 60px);
    }

    .boutiques-item {
        font-size: clamp(10px, 1.9vw, 14px);
        cursor: pointer;
    }

    .main {
        min-height: 824px;
        padding: 0 6.7% 0;
        background-image: url('../assets/images/backgrounds/bg_tablet.webp');
        background-position: center top;
        background-size: cover;
        background-color: #000;
        background-repeat: no-repeat;
    }

    .main-subtitle{
        padding-top: 60px;
        line-height: 150%;
    }

    .main-title {
        font-size: clamp(15px, 3.2vw, 25px);
        line-height: 40px;
    }

    .main-content {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0;
        text-align: left;
        width: 100%;
        gap: 40px;
    }

    .description {
        max-width: 512px;
        width: 80%;
        margin-left: 75px;
    }

    .description-text {
        font-size: clamp(10px, 2.09vw, 16px);
        letter-spacing: 0.5px;
    }

    .description-prompt {
        margin-top: 19px;
        letter-spacing: 0.01px;
    }

    .right-block {
        display: flex;
        padding: 0;
        justify-content: flex-end;
    }

    .fragrance-gallery {
        max-width: 663px;
        gap: 16px;
    }

    .fragrance-card {
        border-radius: 12px;
    }

    .fragrance-name {
        max-width: 105px;
        width: 51%;
        height: 34px;
        font-size: clamp(10px, 1.9vw, 14px);
        line-height: 1.3;
        text-align: center;
    }

    .fragrance-explore-btn {
        top: 8px;
        max-width: 114px;
        width: 56%;
        height: 34px;
        font-size: clamp(10px, 1.9vw, 14px);
    }

    .latest-additions-button {
        width: 178px;
        height: 48px;
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 100vw;
        max-width: 360px;
        min-width: 360px;
    }

    .newsletter-heading {
        width: 100%;
        height: 60px;
        text-align: center;
        padding: 9px 22px 11px;
        line-height: 1.5;
    }

    .main {
        padding: 0 20px;
        background-image: url('../assets/images/backgrounds/bg_mobile.webp');
        background-position: center;
        background-size: cover;
        min-height: 863px;
        max-width: 360px;
    }

    .main-content {
        overflow: hidden;
        width: 360px;
        max-width: 340px;
    }

    .main-subtitle {
        padding-top: 40px;
    }

     .main-title {
        font-size: 25px;
        line-height: 40px;
    }

    .region-control,
    .social-section {
        display: none;
    }

    .header {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 72px;
        height: 72px;
        width: 100%;
        padding: 0 20px;
        margin: 0 0 15px;
        align-items: center;
    }

    .header::after {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        border-bottom: 1px solid #7B7B7B;
    }

    .burger {
        grid-area: 1 / 1;
        margin: 0 0 0 5px;
    }

    .logo {
        grid-area: 1 / 2;
        place-self: auto;
    }

    .logo-img {
        height: 62px;
        margin-top: 0;
    }

    .right-block {
        grid-area: 1 / 3;
    }

    .icon-heart {
        left: 58px;
    }

    .description {
        margin: 0;
        font-size: 14px;
        width: 90%;
    }

    .description-text {
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.015em;
    }

    .description-prompt {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 22px;
        letter-spacing: 0.06px;
    }

    .fragrance-gallery {
        display: flex;
        height: fit-content;
        max-width: 818px;
        width: 818px;
        gap: 20px;
    }

    .fragrance-name {
        max-width: 118px;
        height: 37px;
        font-size: 15px;
    }

    .fragrance-explore-btn {
        max-width: 128px;
        height: 34px;
        top: 10px;
        font-size: 15px;
        letter-spacing: 0.04em;
        line-height: 185%;
    }

    .latest-additions-button {
        letter-spacing: 0.03em;
    }
}
